
<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<title>Ajouter Pizza</title>
</head>
<body>
	<form action="ajouter_modifier_supprimer">
		<label for="pizzaName">Pizza name</label> <input type="text" name=pizzaName><br>
		<label for="ingredient1">ingredient 1</label> <input type="text" name="ingredient1"><br>
		<label for="ingredient2">ingredient 2</label> <input type="text" name="ingredient2"><br>
		<label for="ingredient3">ingredient 3</label> <input type="text" name="ingredient3"><br>
		<label for="ingredient4">ingredient 4</label> <input type="text" name="ingredient4"><br>
		<label for="ingredient5">ingredient 5</label> <input type="text" name="ingredient5"><br>
		<label for="ingredient6">ingredient 6</label> <input type="text" name="ingredient6"><br>
		<label for="price">Price</label> <input type="text" name="price"><br>
		<label for="img">Photo</label> <input type="text" name="img"><br>
		<input type="submit" value="Ajouter Pizza">
	</form>
</body>
</html>